/* Default styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: #2D3748; /* Default text color */
    font-size: 18px; /* Default font size */
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Adjust the grid columns as needed */
    grid-template-rows: auto 1fr auto; /* Auto height for header and footer */
    gap: 20px; /* Space between grid items */
    padding: 20px;
}

/* Header styles */
header {
    grid-column: span 2; /* Span the header across both columns */
    background-color: #63B3ED; /* Header background color */
    color: #FFFFFF; /* Header text color */
    text-align: center; /* Center align text */
    padding: 20px;
    display: flex; /* Use Flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

/* Header text styles */
header h1 {
    font-size: 36px; /* Font size for header */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family for h1 */
}

header p {
    margin: 10px 0; /* Add some space around the quote */
}

/* Profile picture styles */
.profile-pic {
    border-radius: 50%; /* Circular image */
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
}

/* Main content styles */
main {
    grid-column: 2; /* Place main content in the second column */
}

article {
    margin-bottom: 20px;
}

article h2 {
    font-size: 32px; /* Blog post title font size */
    color: #48BB78; /* Blog post title color */
}

.date {
    color: #718096; /* Date and author color */
}

/* Sidebar styles */
aside {
    grid-column: 1; /* Place sidebar in the first column */
    background-color: #E2E8F0; /* Background color for About section */
    padding: 20px; /* Padding to avoid text sticking to edges */
}

aside h3 {
    color: #000000; /* About heading color */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Font family for h3 */
}

/* Social Media and Archives headings */
aside h3.social,
aside h3.archives {
    color: #48BB78; /* Color for Social Media and Archives headings */
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
}

/* Link colors */
a {
    color: #4299E1; /* Social Media and Archive link color */
    text-decoration: none; /* Remove underline */
}

/* Footer styles */
footer {
    grid-column: span 2; /* Span footer across both columns */
    background-color: #2C5282; /* Footer background color */
    color: #FFFFFF; /* Footer text color */
    text-align: center; /* Center align footer text */
    padding: 10px;
}
